html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    background-image: url('https://mnmstatic.net/v_40/img/common/bkg-01.png');
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.header-top {
    width: 100%;
    background-color: #3c3c3c;
    overflow: hidden;
}

li {
    font-size: 14px;
    color: #fff;
    float: left;
}

.header-top ul {
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    float: left;
}

.header-top .formularios,
.formularios {
    float: right;
}

.formualarios li {
    position: relative;
}

li a {
    padding-top: 1px;
    text-decoration: none;
    height: 27px;
    margin: 0 10px 0 10px;
    color: #fff;
    display: inline-block;
}

li a:hover:not(.active) {
    background: url('../img/nav-white.png') bottom left repeat-x;
}

.active {
    background: url('../img/nav-white.png') bottom left repeat-x;
}

.header-center {
    height: 45px;
    background-color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 2px;
    color: #fff;
}

.img {
    position: relative;
    margin: 4px 5px 0 28px;
    float: left;
    display: inline-block;
}

.navimg {
    margin: 0 5px 0 5px;
    float: left;
    display: inline-block;
}

a#logo {
    padding-left: 5px;
    width: 55px;
    margin: 5px 0 0 15px;
    float: left;
}

.header-center a {
    padding-left: 15px;
    float: left;
    margin-top: 6px;
    font-size: 25px;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

.header-center a:hover:not(.active) {
    text-decoration: underline;
}

.search {
    float: right;
}

.search input {
    border-radius: 3px;
    border: 0px;
    width: 280px;
    height: 24px;
    font-size: 16px;
    margin: 10px;
    padding-left: 20px;
    background: #fff url('../img/lupa.png') no-repeat 0 3px;
}

.searchdrop {
    padding-top: 0px;
    padding: 1% 1%;
}

.searchdrop input {
    border-radius: 3px;
    border: 0px;
    width: 140px;
    height: 20px;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 20px;
    margin: 10px;
    margin-left: 17px;
    margin-top: 20px;
    background: #fff url('../img/lupa.png') no-repeat 0 1px;
}

.header-bottom {
    display: block;
    height: 30px;
    background-color: #ececec;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    padding: 0 0 0 20px;
}

.header-bottom ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 2px;
}

.header-bottom ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    line-height: 145%;
}

.header-bottom ul li a {
    display: inline-block;
    color: #FF6400;
    text-align: center;
    text-decoration: none;
    border-bottom: solid #ececec;
}

.header-bottom ul li a:hover:not(.active) {
    background: url('../img/nav-orange.png') bottom left repeat-x;
}

.header-bottom .active {
    background: url('../img/nav-orange.png') bottom left repeat-x;
}

.header-end {
    overflow: hidden;
    list-style-type: none;
}

.header-end .nav {
    border-top: 2px solid white;
    overflow: scroll;
    background-color: white;
    border-bottom: 1px solid white;
}

.header-end li a {
    color: black;
    text-align: center;
    padding: 3px 6px;
    text-decoration: none;
    border-bottom: solid white;
}

.header-end li a:hover:not(.active3) {
    background-color: white;
    border-bottom: 3px solid black;
}

.header-end .active {
    border-bottom: 3px solid black !important;
}

.wrap {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2px;
    max-width: 1200px;
    text-align: left;
    margin: auto;
    margin-top: 0;
}

.navlogo {
    height: 15px;
    width: 9px;
    margin-left: 4px;
    margin-top: 7px;
    margin-right: 15px;
    float: left;
}

.dropbtn {
    height: 20px;
    width: 10px;
    resize: horizontal;
    background-color: #3c3c3c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px 5px 0 5px;
    display: inline-block;
    background: url('../img/icons-common2.png');
}

.dropdown {
    display: block;
    float: left;
    position: absolute;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3c3c3c;
    width: 220px;
    height: 340px;
}

.dropdown-content a {
    color: white;
    padding-left: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content .active {
    font-weight: bold;
    background: none;
}

.dropdown-content a:hover {
    display: block;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3c3c3c;
}

.RS {
    margin-left: 10px;
    display: block;
    float: left;
}

.RS a {
    padding-left: 5px;
    margin-top: 10px;
    opacity: 0.3;
}

.RS a:hover {
    opacity: 1;
}

.foot {
    list-style-type: none;
    background: url(../img/logos-common-2x.png) no-repeat;
    background-color: white;
    clear: both;
    padding-left: 20px;
    overflow: auto;
}

.foot p {
    list-style-type: none;
    border-bottom: 1px solid;
    padding-bottom: 0px;
    color: rgba(0, 0, 0, 0);
    border-color: #FF7D12;
    background: none;
}

.foot ul {
    display: block;
    list-style-type: none;
    text-align: center;
    float: left;
    display: inline-block;
    width: 84%;
    margin-top: 2px;
    list-style-type: none;
    color: #999;
}

.foot ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    color: #999;
}

.foot ul li a {
    font-size: 85%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    color: #999;
    height: 0;
}

.foot ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 675px),
only screen and (max-device-width: 675px) and (-webkit-min-device-pixel-ratio: 1) {
    .header-center {
        display: none;
    }
    .header-bottom {
        display: none;
    }
    .header-top {
        height: 40px;
    }
    .header-top ul {
        display: none;
    }
    .header-top .formularios {
        display: inline-block;
    }
    .dropbtn {
        width: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .img {
        margin-top: 10px;
        margin-left: 48px;
    }
    .navlogo {
        display: none;
    }
    .header-top li a {
        font-size: 15px;
        margin-top: 6px;
        margin-right: 10px;
    }
    .wrap {
        padding: 0;
    }
    .header-end .nav {
        border: 0;
        padding: 0 0 0 5px;
    }
}