html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    background-image: url('../img/bkg-01.png');
    color: #000;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#header-top {
    position: fixed;
    z-index: 890;
    width: 100%;
    background-color: #3c3c3c;
    overflow: visible;
}

li {
    font-size: 14px;
    color: #fff;
    float: left;
}

#header-top ul {
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    float: left;
}

#header-top .formularios li a:hover:not(.active) {
    background: none;
    color: #f00;
}

#header-top .formularios,
.formularios {
    float: right;
}

#header-top a:hover {
    text-decoration: none;
}

#header-top ul li a {
    font-size: 14px;
    margin-right: 10px;
}

#header-top .formularios li {
    position: relative;
    margin-right: 10px;
}

#header-top .formularios li a {
    font-size: 15px;
    margin: 0;
}

li a {
    font-size: 15px;
    padding-top: 1px;
    text-decoration: none;
    height: 27px;
    margin: 0 0 0 10px;
    color: #fff;
    display: inline-block;
}

li a:hover:not(.active) {
    background: url('../img/nav-white.png') bottom left repeat-x;
}

.active {
    background: url('../img/nav-white.png') bottom left repeat-x;
}

#header-center {
    padding-top: 30px;
    height: 45px;
    background-color: #ccc;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 2px;
    color: #fff;
}

.img {
    position: relative;
    margin: 4px 5px 0 28px;
    float: left;
    display: inline-block;
}

.navimg {
    margin: 0 5px 0 5px;
    float: left;
    display: inline-block;
}

a#logo {
    padding-left: 5px;
    width: 55px;
    margin: 5px 0 0 15px;
    float: left;
}

#header-center a {
    padding-left: 15px;
    float: left;
    margin-top: 6px;
    font-size: 25px;
    color: white;
    font-family: Arial;
    text-decoration: none;
}

#header-center a:hover:not(.active) {
    text-decoration: underline;
}

.search {
    float: right;
}

.search input {
    border-radius: 3px;
    border: 0px;
    width: 280px;
    height: 24px;
    font-size: 16px;
    margin: 10px;
    padding-left: 20px;
    background: #fff url('../img/lupa.png') no-repeat 0 3px;
}

#searchdrop {
    margin-right: 10px;
    padding-top: 0px;
    padding: 1% 1%;
}

#searchdrop input {
    border-radius: 3px;
    border: 0px;
    width: 130px;
    height: 24px;
    font-size: 16px;
    padding-top: 0px;
    padding-left: 20px;
    margin: 10px;
    margin-left: 17px;
    background: #fff url('../img/lupa.png') no-repeat 0 3px;
}

#header-bottom {
    display: block;
    height: 30px;
    background-color: #ececec;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    padding: 0 0 0 10px;
}

#header-bottom ul {
    list-style-type: none;
    padding: 0;
    margin: 2px;
}

#header-bottom ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    line-height: 145%;
    margin-right: 10px;
}

#header-bottom .formularios {
    margin-top: 0;
}

#header-bottom ul li a {
    font-size: 15px;
    display: inline-block;
    color: #FF6400;
    text-align: center;
    text-decoration: none;
    border-bottom: solid #ececec;
}

#header-bottom ul li a:hover:not(.active) {
    background: url('../img/nav-orange.png') bottom left repeat-x;
}

#header-bottom .active {
    background: url('../img/nav-orange.png') bottom left repeat-x;
}

#header-end {
    overflow: hidden;
    list-style-type: none;
    padding-left: 25px;
    height: 30px;
    background-color: white;
}

#header-end li {
    margin-right: 25px;
    margin-top: 2px;
    float: left
}

#header-end li a {
    height: auto;
    margin: 0;
    color: black;
    text-align: center;
    text-decoration: none;
}

#header-end li a:hover:not(.active),
#header-end li a.active {
    white-space: nowrap;
    padding-bottom: 5px;
    background: url('../img/nav-black.png') bottom left repeat-x;
}

.wrap {
    background: white;
    margin: auto;
    padding-top: 2px;
    max-width: 1300px;
    text-align: left;
    margin-top: 0;
    width: 99%;
}

.wrap a:hover {
    text-decoration: underline;
}

.navlogo {
    height: 15px;
    width: 9px;
    margin: 7px 4px 0 4px;
    float: left;
}

#dropbtn {
    height: 20px;
    width: 10px;
    resize: horizontal;
    background-color: #3c3c3c;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    background: url('../img/icons-common2.png');
}

#dropdown {
    z-index: 900;
    display: block;
    float: left;
    position: absolute;
}

#dropdown-content {
    width: 200px;
    display: none;
    background-color: #3c3c3c;
}

#dropdown-content li a {
    margin: 0;
    color: white;
    padding-left: 20px;
    text-decoration: none;
    display: block;
}

#dropdown-content li a:hover {
    background: none;
}

#dropdown-content .active {
    font-weight: bold;
    background: none;
}

#dropdown-content a:hover {
    display: block;
    font-weight: bold;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown:hover #dropbtn {
    background-color: #3c3c3c;
}

#dropdown-content li {
    float: none;
    list-style: none;
}

.RS {
    margin-left: 10px;
    display: block;
    float: left;
}

.RS a {
    padding-left: 5px;
    margin-top: 10px;
    opacity: 0.3;
}

.RS a:hover {
    opacity: 1;
}

.newswrap {
    margin: 10px 4px 0 4px;
}

#destacada {
    position: relative;
    background: #f9f9f9;
    border: #ddd 1px solid;
    padding: 5px 5px;
    margin: 10px 0;
    vertical-align: middle;
    overflow: hidden;
}

#destacada h1 {
    line-height: 100%;
    font-size: 140%;
    font-weight: normal;
    margin: 0;
}

#destacada .footer {
    position: absolute;
    bottom: 0;
    right: 4px;
}

#destacada .footer {
    display: block;
    margin-top: 5px;
    text-transform: capitalize;
    font-variant: small-caps;
    text-align: right;
    color: #666;
    text-decoration: underline;
}

#destacada p {
    margin: 0;
    color: #666;
}

#destacada img {
    float: left;
    margin-right: 8px;
}

.news-resumen {
    margin: 0;
    padding: 10px 0 10px 0;
    position: relative;
}

.news {
    padding-left: 95px;
    padding-right: 5px;
    overflow: hidden;
}

.news h2 {
    margin: 0;
    padding: 0 5px 0 0;
    font-size: 140%;
    font-weight: normal;
    background: none;
    border: none;
}

.meneos {
    position: absolute;
    position: absolute;
    top: 10px;
    left: 8px;
    width: 67px;
    height: 85px;
    border: 1px solid #ffeed6;
    font-size: 12px;
    color: #ff6400;
    text-align: center;
    background-clip: padding-box;
    border-radius: 3px;
}

.votos {
    padding: 6px 0 6px;
    border: 1px solid #FFF;
    border-bottom: 0;
    line-height: 1.2em;
    background-repeat: repeat-x;
    background-position: 0 -2px;
    background-clip: padding-box;
    border-radius: 3px 3px 0 0;
}

.votos a {
    display: block;
    color: #ff6400;
    font-size: 18px;
    text-decoration: none;
}

.vota {
    position: relative;
    left: -6px;
    display: inline-block;
    width: 78px;
    border: 1px solid #ffc098;
    background-color: #ff6400;
}

.vota a {
    display: block;
    padding: 2px 0;
    height: 18px;
    color: #FFF;
    text-decoration: none;
    border: 1px solid #FFF;
    background: url('../img/back.png') repeat-x;
}

.clics {
    padding: 1px 0 2px 0;
    border: 1px solid #FFF;
    border-top: 0;
    font-size: 10px;
    background-repeat: repeat-x;
    background-position: bottom;
    background-clip: padding-box;
    border-radius: 0 0 3px 3px;
}

.meneos .votos,
.meneos .clics {
    background-image: url('../img/back2.png');
}

.miniatura img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: right;
    margin: 3px 3px 3px 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.details {
    padding: 0;
    margin-top: 4px;
    overflow: hidden;
    white-space: normal;
    color: #666;
}

.details a {
    color: #666;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

.details .tool {
    display: inline;
    border-left: 1px solid;
    padding: 0 4px 0 6px;
    border-left-color: #666;
}

.details-main {
    float: left;
    margin-top: 6px;
}

.details-main .contadorcomentarios {
    padding: 0 6px 0 0;
    border-left: none;
    font-size: 120%;
}

.contadorcomentarios a .contador {
    text-decoration: none;
    padding: 1px 4px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    background-color: #ff6400;
    font-size: 9pt;
    color: white;
}

.contadorcomentarios a .contador {
    display: inline;
    line-height: 120%;
    margin-right: 0.25em;
}

.contadorcomentarios a:hover .contador {
    text-decoration: none;
}

.details-main .contadorcomentarios a:link,
.details-main .contadorcomentarios a:visited {
    color: #03a;
}

.details .RS {
    margin-left: 0;
    display: inline;
    float: none;
}

.details .RS a {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    padding: 0;
    opacity: 0.6;
    cursor: pointer;
    vertical-align: text-top;
    background-size: 20px 300px;
}

.details .RS a:hover {
    opacity: 1;
}

.details .RS img {
    height: 18px;
    width: 18px;
    resize: both;
}

.foot {
    list-style-type: none;
    background: url(../img/logos-common-2x.png) no-repeat;
    background-color: white;
    clear: both;
    padding-left: 110px;
    overflow: auto;
}

.foot p {
    list-style-type: none;
    border-bottom: 1px solid;
    padding-bottom: 0px;
    color: rgba(0, 0, 0, 0);
    border-color: #FF7D12;
    background: none;
}

.foot ul {
    display: block;
    list-style-type: none;
    text-align: center;
    float: left;
    display: inline-block;
    width: 84%;
    margin-top: 2px;
    list-style-type: none;
    color: #999;
}

.foot ul li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    color: #999;
}

.foot ul li a {
    font-size: 85%;
    text-align: center;
    list-style-type: none;
    margin: 0;
    color: #999;
    height: 0;
}

.foot ul li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    #header-center {
        display: none;
    }
    #header-bottom {
        display: none;
    }
    #header-top {
        height: 40px;
    }
    #header-top ul {
        display: none;
    }
    #header-top .formularios {
        margin-top: 10px;
        display: inline-block;
    }
    #dropbtn {
        width: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .img {
        margin-top: 10px;
        margin-left: 48px;
    }
    .navlogo {
        display: none;
    }
    #header-top li a {
        font-size: 15px;
        margin-top: 6px;
    }
    .wrap {
        padding: 0;
    }
    .header-end .nav {
        border: 0;
        padding: 0 0 0 5px;
    }
    .newswrap {
        width: 100%;
    }
    .wideonly {
        display: none;
    }
    #dropdown-content li a {
        margin: 0;
    }
}