legend {
	background: #216462;
}

legend span {
	color: white;
	font-weight: bold;
	font-size: 110%;
	margin: 0 0.2em 0 0.2em;
}

label {
	color: #216462;
	font-weight: bold;
}

.login {
	margin: 0 60px 10px 60px;
	background: white;
}

fieldset {
	border-radius: 3px;
	border: none;
	padding: 10px 10px;
	margin: 10px 10px;
	background: #A9D3CF;
}

h3 {
	font-weight: bold;
	font-size: 125%;
	color: #216462;
	margin-top: 0;
	margin-bottom: 3px;
}

.faq ul {
	margin: 0;
	padding: 0;
	margin-left: 1.5em;
	display: list-item;
	list-style-type: disc;
	font-weight: normal;
	color: #216462;
	font-weight: bold;
}

.faq ul li {
	font-size: 100%;
	float: initial;
	color: #216462;
}

.faq ul li p {
	list-style: none;
	display: block;
}

.listtext {
	list-style: none;
}

p {
	margin: 0;
	font-weight: normal;
	color: #303030;
}

.faq {
	float: right;
	width: 55%;
	margin-top: 10px;
}

.formulario {
	float: left;
	width: 40%;
	margin: 0;
}

.formularioRegistro {
	float: left;
	width: 100%;
	margin: 0;
}

h3 a {
	color: #216462;
	text-decoration: underline;
	display: block;
	width: 8em;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 1em;
	border: 3px double #7CBFB7;
	background: #A9D3CF;
	font-weight: bold;
	font-size: 100%;
}

h4 {
	text-align: center;
}

h4 a {
	font-size: 100%;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 1px;
	text-decoration: none;
	color: #216462;
}

.foot {
	padding-right: 8px;
}

.error {
	text-align: center;
	color: #FE0000;
	border: 3px double #FE0000;
	margin:0px 10px 5px 5px;
	background: #FBBABE;
	font-weight: bold;
}

.registerForm{
    padding: 10px 10px;
}

.registerField {
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    padding: 10px 10px;
    background: #A9D3CF;
}

@media only screen and (max-width: 800px) {
	.formulario {
		padding-top: 10px;
		width: 100%;
	}
	fieldset {
		margin: 10px 60px;
	}
	.login {
		margin-top: 40px;
	}
	.faq {
		display: none;
	}
}