input.file {
    width: 145px;
    border: 1px solid #BBB;
    border-right: 0;
    color: #888;
    padding: 5px;
    outline: none;
}

.file_upload {
    width: 50px;
    background: #216462;
    display: inline;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    padding: 2px;
    margin: 1px 0;
    border-radius: 3px;
}

.file_upload:before {
    content: 'subir';
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
}

.file_upload:hover {
    background: #7CBFB7;
}

.file_upload input {
    position: relative;
    width: 250px;
    display: inline;
    cursor: pointer;
    opacity: 0;
}

legend {
    color: white;
    background: #216462;
    font-weight: bold;
    font-size: 110%;
    padding: 0 5px;
}

label {
    border-radius: 3px;
    display: block;
    color: #216462;
    font-weight: bold;
}

fieldset {
    margin: 10px;
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    background: #A9D3CF;
}

input[type="text"],
input[type="url"] {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 2px 2px;
    background: white;
    border: 1px solid #ddd;
    color: #303030;
    display: inline-block;
}

.explicacion {
    color: #007251;
    font-weight: normal;
    font-size: 85%;
    display: block;
    padding-bottom: 5px;
}

.submitbutton {
    display: block;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin: 4px 0;
    padding: 2px 4px;
    background-color: #216462;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #7CBFB7;
}

.formularioNoticia {
    border: 0;
    padding: 0 0 20px 0;
    background: #FFF;
    color: #216462;
}

.noticianueva {
    margin: 0 60px 10px 60px;
    border: 0;
    padding: 0 0 20px 0;
    font-weight: bold;
    background: #FFF;
    color: #216462;
}

.noticianueva form {
    padding: 10px 10px;
}

.escribirNoticia {
    font-family: Roboto;
    font-size: 14px;
    width: 50%;
    display: block;
    resize: none;
    border: 1px solid rgb(221, 221, 221);
    height: 5em;
}
.error {
	text-align: center;
	color: #FE0000;
	border: 3px double #FE0000;
	margin:0px 10px 5px 5px;
	background: #FBBABE;
	font-weight: bold;
}
footer {
    padding-right: 8px;
}

textarea.escribirNoticia{
	border: 1px solid rgb(221, 221, 221);
	font-family: Roboto;
	margin-bottom: 5px;
	font-size: 14px;
	width: 17em ;
	display: block;
	padding: 10px;
	resize: none;
	height: 4em;
}

@media only screen and (max-width: 800px) {
    .wrap {
        position: initial;
    }
    .formulario {
        padding-top: 50px;
    }
    .escribir {
        width: 170px;
    }
    .file {
        width: 123px;
    }
}