legend {
    color: white;
    background: #216462;
    font-weight: bold;
    font-size: 110%;
    padding: 0 5px;
}

fieldset {
	border-radius: 3px;
	border: none;
	padding: 10px 10px;
	margin: 10px 10px;
	background: #A9D3CF;
}

label {
    border-radius: 3px;
    display: block;
    color: #216462;
    font-weight: bold;
}

.register {
    margin: 0 60px 10px 60px;
    border: 0;
    padding: 0 0 20px 0;
    font-weight: bold;
    background: #FFF;
    color: #216462;
}

.registerForm{
    padding: 10px 10px;
}

.registerField {
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    padding: 10px 10px;
    background: #A9D3CF;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 2px 2px;
    background: white;
    border: 1px solid #ddd;
    color: #303030;
    display: inline-block;
}

span {
    color: #007251;
    font-weight: normal;
    font-size: 85%;
    display: block;
    padding-bottom: 5px;
}

input[type="submit"] {
    display: block;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin: 4px 0;
    padding: 2px 4px;
    background-color: #216462;
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #7CBFB7;
}

input[type="submit"]:disabled {
    color: #684D94;
    background: none;
}

input[type="submit"]:disabled:hover {
    color: #684D94;
    background: none;
}

.recover a:link,
.recover a:visited {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding-bottom: 1px;
    text-decoration: none;
    color: #216462;
}

.recover h4 {
    font-size: 125%;
    text-align: center;
    margin: 10px 60px 0 60px;
    border: 0;
    font-weight: bold;
    color: #216462;
}

.recover {
    background: #fff;
    margin: 0 60px 0 60px;
    padding: 0;
}

.formulario {
    border: 0;
    padding: 0 0 20px 0;
    background: #FFF;
    color: #216462;
}

.verify {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    margin: 4px 0;
    padding: 2px 4px;
    background-color: #FF6400;
    color: #fff;
}

.verify:hover {
    background-color: #FFB300;
}

.verify:disabled {
    color: #684D94;
    background: none;
}

.verify:disabled:hover {
    color: #684D94;
    background: none;
}

.foot {
    padding-right: 8px;
}

.error {
	text-align: center;
	color: #FE0000;
	border: 3px double #FE0000;
	margin:0px 10px 5px 5px;
	background: #FBBABE;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .wrap {
        position: initial;
    }
    .recover {
        padding-top: 50px;
    }
}